.header-content {
    padding: 70px 20px 70px 20px;
    margin-top: 40px;
    border-bottom: 1px solid #f1f1f1;
}

.profile-image {
    margin-top: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
}

.profile-icons {
    text-align: center;
    margin-top: 15px;
}

.company-image {
    width: 50%;
}

.revtrak-adjustment {
    padding: 15px;
}

.temp-footer {
    text-align: center;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.footer-spacing {
    margin-bottom: 40px;
}