/**
 * Brand Logo
 */

.brand-logos{
    .brand-logo{
        text-align: center;
        padding: 15px;
        a{
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            img{
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}