/**
 * Comments
 */

.commentlist{
    & > h6{
        font-size: 16px;
        margin-bottom: 5px;
    }
}
.single-comment{
    display: flex;
    margin-bottom: 25px;

    &:last-child{
        margin-bottom: 0;
    }
    .single-comment-thumb {
        height: 60px;
        width: 60px;
        overflow: hidden;
        border-radius: 100px;
        margin-right: 25px;
        border: 1px solid #d5d5d5;
    }
    .single-comment-content {
        flex-shrink: 100;
        border: 1px solid #d5d5d5;
        padding: 15px;
        position: relative;
        border-radius: 3px;
        &::before{
            content: "";
            position: absolute;
            left: -6px;
            right: auto;
            top: 10px;
            height: 10px;
            width: 10px;
            background: #ffffff;
            transform: rotate(45deg);
            border-left: 1px solid #d5d5d5;
            border-bottom: 1px solid #d5d5d5;
        }
        p{
            line-height: 24px;
        }
    }
    .single-comment-content-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        line-height: 1;
        h6{
            padding-right: 30px;
            line-height: 1;
            a{
                font-weight: 600;
                letter-spacing: 1px;
                color: $heading-color;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .reply-button{
            background: #575757;
            color: #ffffff;
            padding: 8px 15px;
            align-self: flex-start;
            border-radius: 3px;
            font-size: 13px;
            margin-bottom: 15px;
            text-transform: uppercase;
            font-weight: 600;
            &:hover{
                background: $theme-color;
            }
        }
    }

    &.single-comment-reply{
        margin-left: 30px;
    }
}

@media #{$xs-layout}{
    .single-comment{
        flex-wrap: wrap;
        & &-content{
            margin-top: 20px;
            &::before{
                left: 20px;
                top: -6px;
                border: none;
                border-left: 1px solid #d5d5d5;
                border-top: 1px solid #d5d5d5;
            }
        }
    }
}