/**
 * Forms
 */

.karigor-form-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .karigor-form-input{
        flex: 0 0 100%;
        width: 100%;
        margin-top: 25px;
        overflow: hidden;
        &.karigor-form-input-half{
            flex: 0 0 calc(50% - 15px);
            width: calc(50% - 15px);
        }
        textarea{
            min-height: 150px;
        }
        input, textarea, select{
            font-family: $body-font;
            border: none;
            background: #f7f7f7;
            border-bottom: 3px solid #d5d5d5;
            &:focus, &:active{
                border-bottom: 3px solid #333333;
            }
        }
    }

}

.karigor-form-boxed{
    padding: 30px;
    border: 1px solid #dddddd;
}

@media #{$sm-layout}{
    .karigor-form-inner{
        .karigor-form-input{
            &.karigor-form-input-half{
                flex: 0 0 100%;
                width: 100%;
            }
        }
    }
}

