/**
 * Testimonial
 */


.testimonial-slider{
    padding: 0 120px;
    &.slick-slider{
        margin-bottom: 0;
    }
    .slick-dots{
        position: relative;
        bottom: auto;
        line-height: 1;
        vertical-align: middle;
        margin-top: 20px;
        li{
            display: inline-block;
            height: 13px;
            width: 13px;
            border: 2px solid #777777;
            border-radius: 100px;
            line-height: 15px;
            vertical-align: middle;
            transition: all 0.3s ease-in-out 0s;
            position: relative;
            button{
                display: none;
            }
            &.slick-active,
            &:hover{
                border-color: #000000;
            }
        }
    }
}
.testimonial{
    text-align: center;
    padding: 0 30px;
    p{
        font-size: 18px;
        margin-bottom: 0;
        &::before, &::after{
            content: "\"";
            font-size: 20px;
        }   
    }

    h6{
        margin-top: 25px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }

}

@media #{$md-layout}{
    .testimonial-slider {
        padding: 0 20px;
    }
}

@media #{$sm-layout}{
    .testimonial-slider {
        padding: 0;
    }
}

@media #{$xs-layout}{
    .testimonial {
        padding:0 15px;
    }
}
