/**
 * Progress Bar
 */

.radial-progress-single{
    text-align: center;
    .radial-progress-title{
        margin-top: 30px;
        margin-bottom: 0;
        font-weight: 600;
    }
}
.radial-progress{
    position: relative;
    text-align: center;
    span{
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }
    canvas{
        vertical-align: middle;
        height: 140px !important;
        width: 140px !important;
    }
}

@media #{$lg-layout}{
    .radial-progress{
        canvas{
            height: 120px !important;
            width: 120px !important;
        }
    }
}

@media #{$md-layout}{
    .radial-progress{
        canvas{
            height: 120px !important;
            width: 120px !important;
        }
    }
}

@media #{$sm-layout}{
    .radial-progress{
        canvas{
            height: 100px !important;
            width: 100px !important;
        }
    }
}